body{
    color: black;
}

dl{
    position: relative;

}

li{
    color: white;
}

li:hover{
    color: white;
    scroll-timeline: 5s;
}

Foto de Perfil{

}

h2{
    color: white;

}

p{
    color: white;
}

h4{
   size: 3cm; 
}